.app{
    background-color: rgb(187, 105, 200);
}

.table-board{
    background-color: rgb(46, 74, 165);
    padding: 30px;
    margin: 30px;
    color: white;
}

table{
    width: 100%;
}

.table{
    margin-top: 50px;
    padding: 20px;
    background-color: antiquewhite;
    border: solid black 3px;
    color: black;
}



.row{
    background-color: aquamarine;
    color: black;
}

th{
    border: solid black 2px;
    background-color: rgb(246, 189, 189);
}

td{
    border: solid black 2px;
}

td.tableName{
    width: 10%;
}

td.text{
    width: 80%;
}

td.number{
    width: 10%;
}


tr {
    height: 40px; /* Adjust to match your actual row height */
  }
  
tr[style*="visibility: hidden"] {
    background: none; /* Ensure no background for hidden rows */
  }


