.app{
    
}

.table{
    margin-top: 50px;
    padding: 20px;
    background-color: antiquewhite;
    border: solid black 3px;
}

.row{
    background-color: aquamarine;
}

td{
    border: solid black 2px;
}